In [ ]:
эхfrom google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import lightgbm as lgb  
from sklearn.model_selection import train_test_split

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/MyDrive/Uplift/train.csv'
train = pd.read_csv(path)
train

         client_id  treatment_flg  purchased
0       ad6561e2d8              1          1
1       7c1ccbf93f              1          1
2       b58fadcab6              1          1
3       e99e6fabb9              0          0
4       27fb6f8520              1          1
...            ...            ...        ...
140022  999d284453              1          1
140023  f634deea4e              0          1
140024  16cb4f99b0              0          1
140025  23c2b72b2e              1          1
140026  1430184499              0          1

[140027 rows x 3 columns]

In [ ]:
path_two = '/content/drive/MyDrive/Uplift/clients2.csv.zip'
clients = pd.read_csv(path_two)
clients

,client_id,client_id.1,first_issue_date,first_redeem_date,age,gender
0,000012768d,NaN,2017-08-05 15:40:48,2018-01-04 19:30:07,45,U
1,000036f903,NaN,2017-04-10 13:54:23,2017-04-23 12:37:56,72,F
2,00010925a5,NaN,2018-07-24 16:21:29,2018-09-14 16:12:49,83,U
3,0001f552b0,NaN,2017-06-30 19:20:38,2018-08-28 12:59:45,33,F
4,00020e7b18,NaN,2017-11-27 11:41:45,2018-01-10 17:50:05,73,U
...,...,...,...,...,...,...
200034,fffe0abb97,NaN,2017-11-27 08:56:54,2018-02-11 09:26:08,35,F
200035,fffe0ed719,NaN,2017-09-15 08:53:24,2017-12-12 14:50:12,69,U
200036,fffea1204c,NaN,2018-01-31 16:59:37,2018-03-12 17:02:27,73,F
200037,fffeca6d22,NaN,2017-12-28 11:56:13,NaN,77,F
200038,fffff6ce77,NaN,2017-08-03 20:25:12,2017-08-26 16:41:41,42,U

In [ ]:
new_one.groupby('gender').size()

gender
F    51559
M    23503
U    64965
dtype: int64

В тренировочном датасете больше женщин, чем мужчин

In [ ]:
# new_df = pd.concat([train,clients], ignore_index=True)
# new_df
new_one = train.merge(clients, how='left', on='client_id')
new_one['age'].median ()

45.0

Средний возраст - 45 лет

In [ ]:
path_purch = '/content/drive/MyDrive/Uplift/train_purch.csv.zip'
train_purch = pd.read_csv(path_purch)
train_purch

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN
3,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,4055b15e4a,2.0,50.0,NaN
4,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,a685f1916b,1.0,22.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15998947,fffeca6d22,a0bb11a968,2019-03-09 07:47:43,0.4,0.0,0.0,0.0,99.0,a0613e36b5,de437430e2,1.0,19.0,NaN
15998948,fffeca6d22,a0bb11a968,2019-03-09 07:47:43,0.4,0.0,0.0,0.0,99.0,a0613e36b5,ad8fee4200,1.0,45.0,NaN
15998949,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,ad8fee4200,2.0,94.0,NaN
15998950,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,230dbb0c16,1.0,50.0,NaN
15998951,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,8fbe7fde75,1.0,22.0,NaN

In [ ]:
train_purch["purchase_sum"].describe()

count    1.599895e+07
mean     7.758744e+02
std      7.958922e+02
min      0.000000e+00
25%      2.852500e+02
50%      5.378650e+02
75%      9.731025e+02
max      2.961148e+04
Name: purchase_sum, dtype: float64

Максимальная сумма покупки - 2 9611